<footer class="doc-footer style3">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <h6>Company</h6>
        <ul>
          <li>
            <a href="#">About Us</a>
          </li>
          <li>
            <a href="#">Contact Us</a>
          </li>
          <li>
            <a href="#">Feedback</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h6>Books</h6>
        <div class="text-widget">
          <p>Buy or Sell Used books.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h6>Information</h6>
        <ul>
          <li>
            <a href="#">Privacy Policy</a>
          </li>
          <li>
            <a href="#">Terms of Service</a>
          </li>
          <li>
            <a href="#">Cookie Policy</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="widget-social">
      <div class="social-links">
        <ul>
          <li>
            <a class="fa fa-facebook" href="#"></a>
          </li>
          <li>
            <a class="fa fa-twitter" href="#"></a>
          </li>
          <li>
            <a class="fa fa-instagram" href="#"></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="text-center">
      &copy; Book Store
    </div>
  </div>
</footer>
</div>


<!--========================================
  Javascript
  ===========================================-->
<script src="/assets/lib/jquery/dist/jquery.min.js"></script>
<script src="/assets/lib/slick-carousel/slick/slick.min.js"></script>
<script src="/assets/js/app.js"></script>

</body>

</html>