<!doctype html>
<html lang="en">

<head>

  <title>Book Store</title>
  <!--========================================
    Meta
    ===========================================-->

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--========================================
    CSS
    ===========================================-->
  <!--3rd party plugins-->
  <link href="assets/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="assets/lib/slick-carousel/slick/slick.css" rel="stylesheet" type="text/css">
  <!--custom icons for classified website-->
  <link href="assets/css/adspoticons.css" rel="stylesheet" type="text/css">
  <!--main styles for template-->
  <link href="assets/css/style.css" rel="stylesheet" type="text/css">
  <!--put your custom css on the file below-->
  <link href="assets/css/custom.css" rel="stylesheet" type="text/css">


</head>

<body>
  <div class="web-app">
    <div class="doc-header style3">
      <div class="container">
        <div class="inner">
          <div class="app-logo">
            <button class="mobile-control mob-menu-trigger">
              <i class="adicon-hamburger"></i>
            </button>
            <a href="/">
              <img src="assets/img/logo.png" alt="book-store">
            </a>
          </div>
          <div class="clearfix">
            <ul>
              <li>
                <a href="/">Home</a>
              </li>

              <li>
                <a href="/recent">All Books</a>
              </li>

              <li class="dropdown-wrap">
                <a href="#">Categories</a>
                <div class="basic-dropdown">
                  <ul class="country-list">
                    <li>
                      <a href="/categories/science">Science</a>
                    </li>
                    <li>
                      <a href="/categories/history">History</a>
                    </li>
                    <li>
                      <a href="/categories/math">Math</a>
                    </li>
                    <li>
                      <a href="/categories/journals">Journals</a>
                    </li>
                    <li>
                      <a href="/categories/biographies">Biographies</a>
                    </li>
                  </ul>
                </div>
              </li>

              <li>
                <a href="/create">Create Ad</a>
              </li>

              <li>
                <a class="modal-trigger" href="#signInModal">SignIn</a>
              </li>
              <li>
                <a class="modal-trigger" href="#signUpModal">SignUp</a>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>


    <div class="mobile-menu-wrap">
      <a href="#" class="closeMobilMenu">close the mobile menu</a>
      <nav class="mobile-menu">
        <div class="search-widget">
          <input type="text" placeholder="search">
          <button type="submit">
            <i class="fa fa-search"></i>
          </button>
        </div>
        <ul class="menu-list">
          <li>
            <a href="create.html">Create an Ad</a>
          </li>
          <li>
            <a href="dashboard.html">Dashboard</a>
          </li>
        </ul>
      </nav>
    </div>