<% include partials/header %>

  <div class="app-canvas">
    <div class="container">
      <div class="breadcrumb">
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            Create
          </li>
        </ul>
      </div>

      <div class="page row">
        <header class="heading style-bg big text-center">
          <h1>Sell You used Books</h1>
        </header>
        <div class="form-wrapper">
          <form action="/create" method="post" enctype="multipart/form-data">
            <div class="elements-block">
              <div class="inner">

                <div class="row field-block">
                  <div class="col-xs-12 col-md-3">
                    <label class="required" for="create001">Ad Title</label>
                  </div>
                  <div class="col-xs-12 col-md-9">
                    <input type="text" id="create001" name="title" placeholder="e.g. Simple Book title">
                  </div>
                </div>


                <div class="row field-block">
                  <div class="col-xs-12 col-md-3">
                    <label class="required" for="create0001">Category</label>
                  </div>
                  <div class="col-xs-12 col-md-9">
                    <input type="text" id="create0001" name="category" placeholder="e.g. Science">
                  </div>
                </div>



                <div class="row field-block">
                  <div class="col-xs-12 col-md-3">
                    <label class="required" for="create011">Price</label>
                  </div>
                  <div class="col-xs-12 col-md-9">
                    <div class="icon-field">
                      <span>৳</span>
                      <input type="text" id="create011" placeholder="e.g. 999" name="price">
                    </div>
                  </div>
                </div>

                <div class="row field-block">
                  <div class="col-xs-12 col-md-3">
                    <label class="required" for="create401">Book Photo</label>
                  </div>
                  <div class="col-xs-12 col-md-9">
                    <input class="input-sm" type="file" id="create4011" name="photo">
                  </div>
                </div>


                <div class="row field-block">
                  <div class="col-xs-12 col-md-3">
                    <label class="required" for="create201">Ad Description</label>
                  </div>
                  <div class="col-xs-12 col-md-9">
                    <textarea id="create201" name="description" placeholder="Enter your book Description & selling Description here"></textarea>
                  </div>
                </div>

              </div>
            </div>
            <div class="elements-block style-gray">
              <div class="inner">
                <div>
                  <button type="submit" class="btn btn-green btn-md">Post Book</button>&emsp;&emsp;
                  <span class="termStatement">
                    By clicking 'Create Ad' you agree to
                    <a class="link" href="#">our Terms & Condition</a> and
                    <a class="link" href="#">Posting Rules</a>.
                  </span>
                </div>

              </div>
            </div>
          </form>
        </div>

      </div>

    </div>

  </div>


  <% include partials/footer %>