<% include partials/header %>


  <div class="app-canvas">
    <div class="container">
      <div class="breadcrumb">
        <ul>
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Recent</a>
          </li>
        </ul>
      </div>


      <header class="heading text-bold">
        <h2>All Recent Books</h2>
      </header>


      <div class="listing-actions text-right clearfix" data-target="#items-listing-area">
        <div class="inner">

          <div class="layout-action">
            <a href="#" class="active">
              <i class="fa fa-bars"></i>
              <span class="tooltip">List layout</span>
            </a>
            <a href="#">
              <i class="fa fa-th"></i>
              <span class="tooltip">Grid layout</span>
            </a>
          </div>
        </div>
      </div>

      <div class="listing-area clearfix">
        <div class="listing-filters">
          <div class="listing-filter-block">
            <header>
              <h6>All Categories</h6>
              <a class="trigger-filter-block" href="#">
                <i class="fa fa-navicon"></i>
              </a>
            </header>

            <div class="inner">

              <div class="filter-options-widget">
                <ul>
                  <li class="active">
                    <a href="#">
                      <i></i>
                      <span>All Books</span>
                    </a>
                  </li>

                  <li>
                    <a href="/categories/science">
                      <i></i>
                      <span>Science</span>
                    </a>
                  </li>
                  <li>
                    <a href="/categories/history">
                      <i></i>
                      <span>History</span>
                    </a>
                  </li>
                  <li>
                    <a href="/categories/math">
                      <i></i>
                      <span>Math</span>
                    </a>
                  </li>
                  <li>
                    <a href="/categories/journals">
                      <i></i>
                      <span>Journals</span>
                    </a>
                  </li>
                  <li>
                    <a href="/categories/biographies">
                      <i></i>
                      <span>Biographies</span>
                    </a>
                  </li>


                </ul>
              </div>
            </div>
          </div>

        </div>


        <div id="items-listing-area" class="items-list">


          <article class="item-spot">
            <a href="/single-book" class="imgAsBg">
              <img src="http://placehold.it/340x240" alt="">
            </a>
            <div class="item-content">
              <header>
                <h4>
                  <a href="/single-book">Book Title Here</a>
                </h4>
                <div class="breadcrumb">
                  <ul>
                    <li>
                      <a href="#">
                        <i class="fa fa-tags"></i> Science</a>
                    </li>
                    <li>
                      <i class="fa fa-clock-o"></i> 2:49 pm</li>
                  </ul>
                </div>

              </header>

              <div class="item-actions text-center">
                <div class="price-tag">৳ 206.90</div>
              </div>

              <div class="inner">
                <p>
                  Lorem ipsum dolor sit amet consectetur adiscing das elited ultricies facilisis lacinia pell ...
                </p>
                <a class="view-item" href="/single-book">Read More</a>
              </div>
            </div>
          </article>


          <article class="item-spot">
            <a href="/single-book" class="imgAsBg">
              <img src="http://placehold.it/340x240" alt="">
            </a>
            <div class="item-content">
              <header>
                <h4>
                  <a href="/single-book">Book Title Here</a>
                </h4>
                <div class="breadcrumb">
                  <ul>
                    <li>
                      <a href="#">
                        <i class="fa fa-tags"></i> Science</a>
                    </li>
                    <li>
                      <i class="fa fa-clock-o"></i> 2:49 pm</li>
                  </ul>
                </div>

              </header>

              <div class="item-actions text-center">
                <div class="price-tag">৳ 206.90</div>
              </div>

              <div class="inner">
                <p>
                  Lorem ipsum dolor sit amet consectetur adiscing das elited ultricies facilisis lacinia pell ...
                </p>
                <a class="view-item" href="/single-book">Read More</a>
              </div>
            </div>
          </article>


          <article class="item-spot">
            <a href="/single-book" class="imgAsBg">
              <img src="http://placehold.it/340x240" alt="">
            </a>
            <div class="item-content">
              <header>
                <h4>
                  <a href="/single-book">Book Title Here</a>
                </h4>
                <div class="breadcrumb">
                  <ul>
                    <li>
                      <a href="#">
                        <i class="fa fa-tags"></i> Science</a>
                    </li>
                    <li>
                      <i class="fa fa-clock-o"></i> 2:49 pm</li>
                  </ul>
                </div>

              </header>

              <div class="item-actions text-center">
                <div class="price-tag">৳ 206.90</div>
              </div>

              <div class="inner">
                <p>
                  Lorem ipsum dolor sit amet consectetur adiscing das elited ultricies facilisis lacinia pell ...
                </p>
                <a class="view-item" href="/single-book">Read More</a>
              </div>
            </div>
          </article>


          <article class="item-spot">
            <a href="/single-book" class="imgAsBg">
              <img src="http://placehold.it/340x240" alt="">
            </a>
            <div class="item-content">
              <header>
                <h4>
                  <a href="/single-book">Book Title Here</a>
                </h4>
                <div class="breadcrumb">
                  <ul>
                    <li>
                      <a href="#">
                        <i class="fa fa-tags"></i> Science</a>
                    </li>
                    <li>
                      <i class="fa fa-clock-o"></i> 2:49 pm</li>
                  </ul>
                </div>

              </header>

              <div class="item-actions text-center">
                <div class="price-tag">৳ 206.90</div>
              </div>

              <div class="inner">
                <p>
                  Lorem ipsum dolor sit amet consectetur adiscing das elited ultricies facilisis lacinia pell ...
                </p>
                <a class="view-item" href="/single-book">Read More</a>
              </div>
            </div>
          </article>


          <article class="item-spot">
            <a href="/single-book" class="imgAsBg">
              <img src="http://placehold.it/340x240" alt="">
            </a>
            <div class="item-content">
              <header>
                <h4>
                  <a href="/single-book">Book Title Here</a>
                </h4>
                <div class="breadcrumb">
                  <ul>
                    <li>
                      <a href="#">
                        <i class="fa fa-tags"></i> Science</a>
                    </li>
                    <li>
                      <i class="fa fa-clock-o"></i> 2:49 pm</li>
                  </ul>
                </div>

              </header>

              <div class="item-actions text-center">
                <div class="price-tag">৳ 206.90</div>
              </div>

              <div class="inner">
                <p>
                  Lorem ipsum dolor sit amet consectetur adiscing das elited ultricies facilisis lacinia pell ...
                </p>
                <a class="view-item" href="/single-book">Read More</a>
              </div>
            </div>
          </article>



        </div>

      </div>

    </div>
  </div>

  <% include partials/footer %>