<% include partials/header %>

  <div class="app-canvas">
    <div class="container">
      <div class="breadcrumb">
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>signup</li>
        </ul>
      </div>

      <div class="page contextual-page">
        <div class="inner">

          <header class="page-header text-center">
            <h3>Create an account</h3>
          </header>

          <div class="row pt-50 pb-60">

            <div class="col-xs-12 col-sm-6 col-sm-offset-3">

              <div class="account-access-option">

                <form method="post" action="/signup" id="newRegisterForm">
                  <div class="field-block">
                    <div class="labeled-input">
                      <label>Name *</label>
                      <input id="su_name" title="Your Name" name="su_name" minlength="3" type="text">
                    </div>
                  </div>
                  <div class="field-block">
                    <div class="labeled-input">
                      <label>Username*</label>
                      <input id="su_username" title="choose a username" minlength="3" name="su_username" type="text">
                    </div>
                  </div>
                  <div class="field-block">
                    <div class="labeled-input">
                      <label>Email*</label>
                      <input id="su_email" title="Enter your email" name="su_email" type="email">
                    </div>
                  </div>
                  <div class="field-block">
                    <div class="icon-field wide-element">
                      <span>+880</span>
                      <input id="su_mobileNumber" type="tel" name="su_mobileNumber" placeholder="e.g. 01712345678">
                    </div>
                  </div>
                  <div class="field-block">
                    <div class="labeled-input">
                      <label>Password*</label>
                      <input id="su_password" title="Password" name="su_password" type="password">
                    </div>
                  </div>
                  <div class="field-block">
                    <div class="labeled-input">
                      <label>Confirm Password</label>
                      <input id="su_confirm_password" title="Confirm Password" name="su_confirm_password" type="password">
                    </div>
                  </div>
                  <button class="btn btn-md btn-green block-element">Signup Now</button>

                </form>
              </div>

            </div>

          </div>



        </div>
      </div>

    </div>

  </div>


  <% include partials/footer %>