<% include partials/header %>
  <div class="app-canvas">
    <div class="container">
      <div class="breadcrumb">
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/categories/science">Science</a>
          </li>

          <li>
            Book title goes here
          </li>
        </ul>
      </div>

      <div class="item-single row">

        <div class="item-content col-xs-12 col-sm-7 col-md-8">

          <article class="inner">
            <header>
              <h1>Book title goes here</h1>
              <ul class="info-list">
                <li>
                  <i class="fa fa-bookmark"></i>ID: 13030978</li>
                <li>
                  <i class="fa fa-clock-o"></i>2:49 pm</li>
              </ul>
            </header>


            <div class="item-gallery-slider">
              <div class="item-lg-images">

                <div class="slick-carousel slick-lg-images" data-asnav=".slick-sm-images" data-fade="true" data-slides-scroll="1" data-dots="false"
                  data-nav="false" data-slides="1" data-slides-lg="1" data-slides-md="1" data-slides-sm="1" data-loop="true"
                  data-auto="true">

                  <div class="item-lg-thumb imgAsBg">
                    <img src="http://placehold.it/1024x768" alt="">
                  </div>

                  <div class="item-lg-thumb imgAsBg">
                    <img src="http://placehold.it/1024x768" alt="">
                  </div>


                </div>
              </div>



              <div class="item-sm-images">
                <div class="slick-carousel slick-sm-images" data-focus="true" data-asnav=".slick-lg-images" data-slides-scroll="1" data-dots="false"
                  data-nav="true" data-prev="fa fa-chevron-left" data-next="fa fa-chevron-right" data-slides="6" data-slides-lg="4"
                  data-slides-md="4" data-slides-sm="2" data-loop="true" data-auto="false">

                  <div class="item-sm-thumb">
                    <div class="imgAsBg">
                      <img src="http://placehold.it/1024x768" alt="dummy">
                    </div>
                  </div>

                  <div class="item-sm-thumb">
                    <div class="imgAsBg">
                      <img src="http://placehold.it/1024x768" alt="dummy">
                    </div>
                  </div>


                </div>
              </div>
            </div>



            <div class="quick-info">
              <ul class="clearfix">
                <li>
                  <div class="inner clearfix">
                    <span class="label">Category Name: </span>
                    <span class="desc">Science</span>
                  </div>
                </li>

                <li>
                  <div class="inner clearfix">
                    <span class="label">Tags: </span>
                    <span class="desc">Science book, Science</span>
                  </div>
                </li>


              </ul>
            </div>
            <div class="text-widget">
              <header>
                <h4>Book Description</h4>
              </header>
              <div class="inner">
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Chasellus porttitor non lectus ut lacinia ras in
                  metus est. Proin non orci massa roin auctor ultricies mauris nec tincidunt mi imperdiet pendisse id tempor
                  nisi nec laoreet lorem tiam congue tempus convallis.</p>

                <p>Proin non orci massa roin auctor ultricies mauris nec tincidunt mi imperdiet uspendisse id tempor nisi nec
                  laoreet lorem tiam congue tempus convallis.</p>
              </div>
            </div>

            <footer>
              <div class="inner row">
                <div class="col-xs-12 col-md-4">
                  <span class="item-views">
                    <i class="fa fa-eye"></i> Total Views: 5555</span>
                </div>
                <div class="col-xs-12 col-md-8 text-right-md">
                  Do you have Books to sell?
                  <a class="modal-trigger" href="#signUpModal">Sign Up and Post Your Ad</a>
                </div>


              </div>
            </footer>
          </article>

        </div>


        <aside class="sidebar col-xs-12 col-sm-5 col-md-4">
          <div class="inner">
            <div class="price-widget short-widget">
              <i class="adicon-dollar"></i>
              <strong>৳235.00</strong>
              <span>Negotiable Price</span>
            </div>

            <div class="user-widget text-center">
              <img src="assets/img/basic/user-thumb.png" alt="asd">
              <h4>
                <a href="#">Anaet Hossain</a>
              </h4>
              <div>Member Since 2013</div>
              <a href="#" class="link">More Books</a>
              <ul class="clearfix">
                <li>
                  <a class="btn btn-transparent" href="#">Send Message</a>
                </li>
                <li>
                  <a class="btn btn-transparent" href="#">Report This</a>
                </li>
              </ul>
            </div>


            <div class="check-list-widget">
              <h4>Safety Tips</h4>
              <ul>
                <li>Morbi ut tellus ac leo molestie</li>
                <li>Luctus nec vehicula seded justo</li>
                <li>Varius onec tempor rhons</li>
                <li>Polutpat ras lorem</li>
              </ul>
            </div>

          </div>
        </aside>

      </div>

    </div>

  </div>

  <% include partials/footer %>