.doc-header.style3 .container > .inner > .clearfix > ul > li.dropdown-wrap > a {

    width: auto; 
     background: none; 
    font-size: 12px; 
     padding: 25px 15px; 
    height: auto;
}


.item-spot .breadcrumb ul li + li:before {
    content: " | ";
}